.container{
  width: 600px;
}
.card-question{
  padding: 10px;
}
ol{
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}
ol li{
  margin: 10px 0;
}
ol li .mat-card{
  padding: 10px;
  font-weight: 500;
  &:hover{
    background-color: lightgray;
    cursor: pointer;
  }
}
.result h2{
  margin: 0;
  text-align: center;
}
.congrate{
  font-family: cursive;
  font-size: 32px;
  color: rgb(255, 0, 128);
}
.result p{
  font-family: cursive;
  text-align: center;
}
.correct{
  background-color: green;
  color: #fff;
}
.no-allow{
  cursor: not-allowed;
}
