<div fxLayout="column">
  <mat-card class="card">
    <h1 style="font-weight: 500;">Welcome to Quiz App</h1>
    <p>This quiz will contains total 10 questions. Each question hold 10 points!</p>
    <b>Role:</b>
    <ol>
      <li>Correct Question give you 10 points.</li>
      <li>Incorrect Question give 0 point.</li>
      <li>You will have 20 sec to answer each question.</li>
    </ol>
    <h1 style="font-family: monospace; text-align: center;margin: 0;">All the best🥰</h1>
    <p style="text-align: center;font-family: monospace">Please fill your name to start the quiz</p>
    <mat-form-field>
      <input type="text" matInput [formControl]='name' placeholder="Enter your name" autocomplete="off">
    </mat-form-field><br>
    <button mat-flat-button color="primary" [disabled]="!name.value" [routerLink]="['/menu']" (click)="setName()">Start a quiz
      <mat-icon>arrow_circle_right</mat-icon>
    </button>
  </mat-card>
</div>
