.container{
  width: 600px;
}
ol{
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}
ol li{
  margin: 10px 0;
}
ol li .mat-card{
  padding: 15px;
  font-weight: 500;
  &:hover{
    background-color: lightgray;
    cursor: pointer;
  }
}
.result h2{
  margin: 0;
  text-align: center;
}
.congrate{
  color: rgb(255, 0, 128);
}
.result p{
  font-family: cursive;
}
